.map-container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.title-map {
    background-color: rgba(68, 17, 100, 0.4);
    margin-bottom: 3%;
    padding-bottom: 2%;
    box-shadow: 5px 10px 20px #000;
}

.mid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-card {
    width: 18rem;
    height: 100%;
    background: linear-gradient(0.25turn, #d26ffc, #837883) !important;
    margin: 0 50px 5px 50px;
    border-color: #000 !important;
    position: relative;
    /* overflow: hidden; */
    animation: scaleIn 0.5s ease-in-out;
    display: flex;
}

.custom-card:hover > .hover-wrapper.blur {
    filter: blur(3px);
}

.custom-card > .hover-text.fade {
    opacity: 0;
}

.custom-card:hover > .hover-text.fade {
    opacity: 1;
}

.custom-card .hover-text {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: #837883;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-card .hover-text,
.custom-card .hover-wrapper {
    transition: 200ms ease-in-out;
}

.card-spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.btn-index {
    height: 10%;
}

.fade-in-animation {
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: #d26ffc;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    animation: scaleIn 1.5s ease-in-out;
}

.fade-in-animation:hover {
    color: #d26ffc;
    background-color: #000;
}

@keyframes rotateAnimation {
	0% {transform: rotateY(0deg);}
    16% {transform: rotateY(72deg);}
    32% {transform: rotateY(144deg);}
    48% {transform: rotateY(216deg);}
	64% {transform: rotateY(288deg);}
    80% {transform: rotateY(360deg);}
    100% {transform: rotateY(360deg);}
}

@keyframes scaleIn {
    0% {
    transform: translateY(500px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

@media screen and (max-width: 1919px) {
    .project-container {
        overflow: scroll;
    }
}

@media screen and (max-width: 1500px) {
    .project-container {
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
    }
    .map-container {
        flex-direction: column;
    }
    .custom-card {
        width: 25rem;
    }
    /* .title-map {
        overflow: scroll;
    } */
}

@media screen and (max-width: 860px) {
    .custom-card {
        width: 15rem;
    }
    .fade-in-animation {
        margin-top: 30px;
    }
}

@media screen and (max-width: 560px) {
    .left-side-logos {
        display: none;
    }
    .right-side-logos {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .custom-card {
        width: 12rem;
    }
}