* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: 000;
  font-family: 'Titillium Web', sans-serif;
}

.prj-one {
  background-image: url('../images/ATL\ aquarium2.jpg');
  background-size: cover;
}

.prj-two {
  background-image: url('../images/Austing\ Lake.jpg');
  background-size: cover;
}

.prj-three {
  background-image: url('../images/muir\ woods.jpg');
  background-size: cover;
}

p {
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: .08rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* css file found in GitHub */
p {
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: .08rem;
}

i {
  color: #000;
}