.header-background {
    background: linear-gradient(0.25turn, rgba(172, 218, 55, 0.5), rgba(112, 240, 206, 0.5));
}

.name-header {
    margin-left: 20px;
    position: relative;
}

.name-header::after {
    content: 'oliverLo78';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: transform .1s ease-in-out;
    font-size: 55px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-header:hover::after {
    transform: scaleX(1);
}

.name-header h2 {
    font-size: 55px;
    font-weight: bold;
}

.name-header:hover .first-name::after {
    color: transparent;
}

.name-header:hover .last-name::after {
    color: transparent;
}

.first-name::after {
    content: 'Oliver';
}

.last-name::after {
    content: 'Lopez';
}

.title {
    padding-top: 2%;
    font-size: 45px;
    text-decoration: underline;
    white-space: nowrap;
}

.last-name {
    margin-left: 35px;
    margin-top: -5px;
}

.header-ul {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-ul-li {
    list-style-type: none;
    margin-right: 40px;
    cursor: pointer; 
    font-size: 33px;
    position: relative;
    border: 1px solid black;
    padding: 1px;
    z-index: 1;
    overflow: hidden;
}

.header-ul-li:hover {
    color: #93f2ff;
    text-decoration: none;
}

.header-ul-li::before {
    content: "";
    position: absolute;
    background: #000;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: top .5s ease-in-out;
  }

.header-ul-li:hover:before {
    top: 0;
  }

.header-ul-li:hover::after {
    transform: scaleX(1);
}

/* Mobile Nav */

.header-icons {
    font-size: 33px;
}

.navBar {
    position: relative;
    display: none;
  }
  
  .navBar button {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: rgb(253, 217, 219);;
    right: -10%;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 350px;
    z-index: 9;
  }
  
  .menuNav.showMenu {
    width: 100%;
    animation: fadeInLeft .5s ease-in-out;
  }
  
  .menustyles {
    border: none;
    display: block;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
  }
  
  .menuNav li:first-child {
    margin-top: 7rem;
  }


  @keyframes fadeInLeft {
    0% {
    transform: translateX(1000px)
    }
    100% {
    transform: translateX(0)
    }
}

@media screen and (max-width: 1111px) {
    .navBar {
        display: block;
    }
    .header-ul {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .menuNav {
        max-width: 250px;
    }
    .header-icons {
        font-size: 20px;
    }
    .menustyles {
        font-size: 13px;
    }
    .name-header h2 {
        font-size: 33px;
    }
    .name-header::after {
        font-size: 33px;
    }
    .title {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 15px;
        white-space: normal;
    }
}