.footer-background {
    background: linear-gradient(0.25turn, rgba(172, 218, 55, 0.5), rgba(112, 240, 206, 0.5));
}
.container-fluid {

    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.footer-ul {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.footer-container {
    display: flex; 
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    bottom: 0;
    flex-wrap: wrap;
} 

.footer-li {
    list-style-type: none; 
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 44px;
}
 /* .footer-li {
    margin-right: 40px;
    cursor: pointer; 
    font-size: 45px;
    position: relative;
    border: 1px solid black;
    padding-left: 30px;
    padding-right: 33px;
    z-index: 1;
    overflow: hidden;
}  */

@media screen and (max-width: 700px) {
    .hide {
        display: none;
    }
} 